<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mrc.learnenglish">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permision.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permision.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="knowledge.test.LearnWordsActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".DecompileActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mrc.learnenglish.MainActivity" />
        </activity>
        <activity
            android:name=".WordActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mrc.learnenglish.MainActivity" />
        </activity>
        <activity android:name=".ChooseLanguage" />
        <activity android:name=".Top3LevelWordsActivity" />
        <activity android:name=".Top2LevelWordsActivity" />
        <activity android:name=".Top1LevelWordsActivity" />
        <activity android:name=".LearnWordsActivity" />
        <activity
            android:name=".LearnNewWordsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mrc.learnenglish.MainActivity" />
        </activity>
        <activity
            android:name=".RepeatWordsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mrc.learnenglish.MainActivity" />
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme" />
    </application>

</manifest>